<div id="main" class="container">
  <app-section-title color="#46244C" icon="bi bi-person-fill" title="About Me"></app-section-title>
  <p>
    I specialized in Mobile Computing during my time at the IT college, ultimately earning my degree from the Islamic University of Gaza. Additionally, I hold a Bachelor's degree in Mechanical Engineering. Presently, I am employed as a Software Engineer at Unit One Group, where I contribute to collaborative team projects utilizing tools such as Jira and GitLab. My professional background encompasses proficiency in Quality Assurance practices and comprehensive experience in full-stack web development.
  </p>
</div>
