<div id="main" class="container">
  <app-section-title color="#29C7AC" icon="bi bi-briefcase-fill" title="Work Experience"></app-section-title>
  <app-duration borderColor="#29C7AC" from="2021" to="now" institution="Unit One Group"
                city="Palestine, Gaza"
                title="Android and Software Engineer"
                description="My responsibilities involve various tasks essential for project success. These include developing Android Native projects using Java, creating a recruitment system for Unit One Group with Angular and C#.NET, and designing REST APIs using C# ASP.NET Core and C# Entity Framework. I collaborate with teams, using Git for version control and Jira for task management and reporting. Additionally, I participate in requirement analysis sessions to ensure project goals are met."
  ></app-duration>
  <app-duration borderColor="#29C7AC" from="2021" to="now" institution="Nvidia"
                city="Palestine, Gaza remotely"
                title="Software Verification"
                description="I'm responsible for testing new features to ensure they work as expected. These tests cover different scenarios to check every aspect thoroughly. Once tested, these features are added to our daily checks to make sure they don't affect existing ones. I also update tests to match any changes in development."
  ></app-duration>
  <app-duration borderColor="#29C7AC" from="2021" to="2022" institution="The Islamic University of Gaze"
                city="Palestine, Gaza"
                title="IT Teacher Assistant"
                description="Teaching students Java, Android, Pervasive Computing, and Introduction to Computing Labs. "
  ></app-duration>
  <app-duration borderColor="#29C7AC" from="2017" to="2018" institution="The Islamic University of Gaze"
                city="Palestine, Gaza"
                title="Engineering Teacher Assistant"
                description="I was responsible for “Theory of Machines”, “Mechanical Vibrations”, “Dynamics”, “Heat Transfer”, and “Thermodynamics” discussions and labs."
  ></app-duration>
</div>
