<div id="main" class="container">
  <app-section-title color="#29C7AC" icon="bi bi-briefcase-fill" title="Work Experience"></app-section-title>
  <app-duration borderColor="#29C7AC" from="2021" to="now" institution="Unit One Group"
                city="Palestine, Gaza"
                title="Android and Software Engineer"
                description="Main tasks: Work on Android Native projects using Java, Work on recruitment system for Unit One Group, Using Angular and C#.net, Rest API development with C# ASP.net core, C# Entity Framework, Worked with team using git, Analysis requirements with the team, Using Jira for tasks and reporting"
  ></app-duration>
  <app-duration borderColor="#29C7AC" from="2021" to="now" institution="The Islamic University of Gaze"
                city="Palestine, Gaza"
                title="IT Teacher Assistant"
                description="Teaching students Java, Android, Pervasive Computing, and Introduction to Computing Labs. "
  ></app-duration>
  <app-duration borderColor="#29C7AC" from="2017" to="2018" institution="The Islamic University of Gaze"
                city="Palestine, Gaza"
                title="Engineering Teacher Assistant"
                description="I was responsible for “Theory of Machines”, “Mechanical Vibrations”, “Dynamics”, “Heat Transfer”, and “Thermodynamics” discussions and labs."
  ></app-duration>
</div>
