<div class="header container-fluid" id="header">
  <div class="header-row">
    <div class="" id="profile-img">
      <img src="assets/images/img-person.jpeg" class="img-circle"/>
    </div>
    <div id="div-person-position">
      <p id="person-name">MUATH Z NASSAR</p>
      <p id="position">Software Engineer</p>
      <div id="address">
        <i class="bi bi-geo-alt-fill" id="icon-address"></i>
        <p>Palestine, Gaza Strip, Azzawayda</p>
      </div>

    </div>
    <div class=" contact-us" id="contact-us">
      <ul>
        <li>
          <i class="bi bi-envelope-fill"></i>
          <a id="email" class="contact-item" href="mailto: moadnassar@gmail.com">moadnassar@gmail.com</a>
        </li>
        <li>
          <i class="bi bi-phone-fill"></i>
          <p class="contact-item">+970599162900</p>
        </li>
        <li>
          <i class="bi bi-linkedin"></i>
          <a class="contact-item" href="https://www.linkedin.com/in/muath-nassar-b42b61140/">www.linkedin.com</a>
        </li>
        <li>
          <i class="bi bi-globe"></i>
          <p class="contact-item">www.linkedin.com</p>
        </li>
      </ul>
    </div>
  </div>
</div>
