<div id="main" class="container">
  <app-section-title color="#FF5F00" icon="bi bi-check-circle-fill" title="Projects"></app-section-title>
  <app-duration borderColor="#FF5F00" from="JAN 2021" to="MAY 2021" institution="Unit One Group"
                city="Palestine, Gaza"
                title="Roya Play, Android Development Team"
                description="I was a member of unit one android team, I participated in requirements analyzing, development, etc."
  >
  </app-duration>
  <app-duration borderColor="#FF5F00" from="MAY 2021" to="now" institution="Unit One Group"
                city="Palestine, Gaza"
                title="Recruitment System, Internal Project. Full Stack"
                description="This project is designed and developed to facilitate the work of hr to hire new employees.">
  </app-duration>
</div>
