<div id="main" class="container">
  <app-section-title color="#D49B54" icon="bi bi-pass-fill" title="Personal Information"></app-section-title>
  <div class="row">
    <app-information key="Gender" value="Male" class=""></app-information>
    <app-information key="Marital Status" value="Married" class=""></app-information>
  </div>
  <div class="row">
    <app-information key="Nationality" value="Palestinian" class=""></app-information>
    <app-information key="Identification" value="803917459" class=""></app-information>
  </div>
  <div class="row">
    <app-information key="Religion" value="Islam Sunni" class=""></app-information>
    <app-information key="Disability" value="I don't have disability" class=""></app-information>
  </div>
  <div class="row">
    <app-information key="Date of Birth" value="10-Jan-1993" class=""></app-information>
    <app-information key="Country of Birth" value="Palestine" class=""></app-information>
  </div>
</div>
