<div id="main" class="container">
  <app-section-title color="#C74B50" icon="bi bi-book-fill" title="Education"></app-section-title>
  <app-duration borderColor="#C74B50" from="2018" to="2021" institution="The Islamic University of Gaze"
                city="Palestine, Gaza"
                title="Bachelor - Information Technology, Mobile Computing"
                description="I've studied Mobile Computing and Smart Device Applications. I’ve graduated as the best student among my colleagues. My GPA is 91.9% - Excellent. The faculty chose me to be TA.
"
                style="width: 100%"></app-duration>
  <app-duration borderColor="#C74B50" from="2011" to="2016" institution="The Islamic University of Gaze"
                city="Palestine, Gaza"
                title="Bachelor - Mechanical Engineering"
                description="I’ve graduated as the second-best student among my colleagues.My GPA is 86.61% - Very Good. The faculty chose me to be TA for Labs."
                style="width: 100%"></app-duration>
</div>
