<div id="main" class="container">
  <app-section-title color="#C74B50" icon="bi bi-book-fill" title="Education"></app-section-title>
  <app-duration borderColor="#C74B50" from="2018" to="2021" institution="The Islamic University of Gaze"
                city="Palestine, Gaza"
                title="Bachelor - Information Technology, Mobile Computing"
                description="I specialize in Mobile Computing and Smart Device Applications, graduating as the highest achiever among my peers with a GPA of 91.9%, denoting excellence. Recognizing my dedication, the faculty appointed me as a Teaching Assistant (TA)."
                style="width: 100%"></app-duration>
  <app-duration borderColor="#C74B50" from="2011" to="2016" institution="The Islamic University of Gaze"
                city="Palestine, Gaza"
                title="Bachelor - Mechanical Engineering"
                description="I graduated as the second-highest achiever among my peers, attaining a GPA of 86.61%, signifying a commendable performance. Recognizing my capabilities, the faculty appointed me as a Teaching Assistant (TA) for Labs."
                style="width: 100%"></app-duration>
</div>
