<div id="main" class="container">
  <app-section-title color="#84142D" icon="bi bi-star-fill" title="Skills"></app-section-title>
  <div id="skills">
    <h2 class="category">Languages</h2>
    <app-progress-field skill="Arabic"  progress="100"></app-progress-field>
    <app-progress-field skill="English"  progress="80"></app-progress-field>
    <h2 class="category">Technical</h2>
    <app-progress-field skill="Django"  progress="70"></app-progress-field>
    <app-progress-field skill="Python"  progress="95"></app-progress-field>
    <app-progress-field skill="Angular"  progress="70"></app-progress-field>
    <app-progress-field skill="ASP .NET Core"  progress="70"></app-progress-field>
    <app-progress-field skill="Entity Framework"  progress="70"></app-progress-field>
    <app-progress-field skill="Problem Solving"  progress="92"></app-progress-field>
    <app-progress-field skill="Bash Script"  progress="60"></app-progress-field>
    <app-progress-field skill="Selenium"  progress="70"></app-progress-field>
    <app-progress-field skill="Android"  progress="95"></app-progress-field>
    <app-progress-field skill="Firebase"  progress="90"></app-progress-field>
    <app-progress-field skill="IOS"  progress="40"></app-progress-field>
    <app-progress-field skill="Mysql"  progress="75"></app-progress-field>
    <app-progress-field skill="C#"  progress="95"></app-progress-field>
    <app-progress-field skill="Java"  progress="95"></app-progress-field>
    <app-progress-field skill="Kotlin"  progress="99"></app-progress-field>
    <app-progress-field skill="Typescript"  progress="70"></app-progress-field>
    <app-progress-field skill="JS"  progress="70"></app-progress-field>
    <h2 class="category">Personal</h2>
    <app-progress-field skill="Teamwork"  progress="80"></app-progress-field>
    <app-progress-field skill="Communication"  progress="90"></app-progress-field>
    <app-progress-field skill="Work under Pressure"  progress="95"></app-progress-field>


  </div>
</div>
