
#skill{
  font-family: Mulish-Regular,serif;
  font-size: 30px;
}

#skill-row{
  padding-left: 120px!important;
  align-items: baseline;
}
#skills{
  margin-top: 20px;
}
.category{
  font-family: Mulish-ExtraBold, serif;
  margin-left: 80px;
  top: 20px;
  font-size: 30px;

}
