/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@font-face {
  font-family: ArchivoBlack;
  src: url(assets/fonts/ArchivoBlack-Regular.ttf) format("opentype");
}
@font-face {
  font-family: Mulish-ExtraBold;
  src: url(assets/fonts/Mulish-ExtraBold.ttf) format("opentype");
}

@font-face {
  font-family: Mulish-Bold;
  src: url(assets/fonts/Mulish-Bold.ttf) format("opentype");
}
@font-face {
  font-family: Mulish-Light;
  src: url(assets/fonts/Mulish-Light.ttf) format("opentype");
}
@font-face {
  font-family: Mulish-Regular;
  src: url(assets/fonts/Mulish-Regular.ttf) format("opentype");
}
$my-black : #1b1b1b;
